/* Deafult Margin & Padding */
/*-- Margin Top --*/


.mt-50 {
    margin-top: 50px;
}

.mt-110 {
    margin-top: 110px;
}

/*-- Margin Bottom --*/

.mb-5 {
    margin-bottom: 5px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-30 {
    margin-bottom: 30px;
}
/*-- Margin Right --*/

.mr-10 {
    margin-right: 10px;
}
/*-- Padding Top --*/

.pt-25 {
    padding-top: 25px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-45 {
    padding-top: 45px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-55 {
    padding-top: 55px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-110 {
    padding-top: 110px;
}

.pt-115 {
    padding-top: 115px;
}

.pt-120 {
    padding-top: 120px;
}

.pt-150 {
    padding-top: 150px;
}
/*-- Padding Bottom --*/
.pb-10 {
    padding-bottom: 10px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-55 {
    padding-bottom: 55px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-110 {
    padding-bottom: 110px;
}

.pb-115 {
    padding-bottom: 115px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pb-200 {
    padding-bottom: 200px;
}
.pr-20 {
    padding-right: 20px;
}
/* Background Color */

.gray-bg {
    background: #f9faff;
}

.white-bg {
    background: #fff;
}

.black-bg {
    background: #222;
}

/* Color */

.white {
    color: #fff;
}

.black {
    color: #222;
}
