/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {

}


/*================================================== Normal desktop :992px.======================================== */

@media (min-width: 992px) and (max-width: 1199.98px) {

    .main-menu ul li {
        margin-left: 18px !important;
    }

    .header-area-5 nav ul li:last-child a {
        padding: 7px 15px;
    }
    .banner-content {
        position: relative;
        z-index: 1;
        padding-top: 40%;
    }

    #banner {
        height: 700px;
    }

    #banner img {
        width: 101%;
    }
 
    .banner-content.banner-content-2 p {
        padding: 20px 10px 0;
    }

    .banner-content h1 {
        font-size: 38px;
    }

    .banner-content.banner-content-5 h1 {
        line-height: 50px;
    }

    #banner-5 {
        height: 800px;
    }

    .dashboard img {
        width: 110%;
        margin-left: 0;
    }

    .sub-item p {
        padding: 0 6px;
    }

    .section-title p {
        padding: 0px 140px;
        padding-top: 10px;
    }

    .about-content a {
        margin-top: 30px;
    }

    .about-content p.pt-25 {
        padding-top: 15px;
    }

    .about-content h3 {
        padding-bottom: 15px;
    }

    .about-content.about-content-3 h3 {
        padding-right: 42px;
    }

    .btn-link {
        font-size: 14px;
    }

}

@media (max-width: 1199.98px) {
    .header-name {
        padding-left: 0;
        padding-top: 10px;
    }
}

/* ====================================Tablet desktop :768px.======================================== */
@media (min-width: 768px) and (max-width: 991.98px) {
    #banner {
        height: 700px;
    }

    #banner-5 {
        height: 700px;
    }

    .banner-content {
        padding-top: 30%;
    }

   .sub-item p {
        padding: 0;
    }

    .digital-img img {
        margin-top: 100px;
    }

    .section-title p {
        padding: 0px 40px;
        padding-top: 10px;
    }

    .about-content a {
        margin-top: 30px;
    }

    .about-content p.pt-25 {
        padding-top: 15px;
    }

    .digital-overlay .digital-content a {
        padding: 0 40px;
    }

    .digital-mobile img {
        width: 100%;
    }

    .about-content h3 {
        padding-bottom: 15px;
    }

    .about-play .play-overlay i {
        height: 60px;
        width: 60px;
        line-height: 60px;
        font-size: 28px;
    }

    .digital-item ul li a {
        padding: 7px 48px;
    }

    .mobil-item {
        margin-top: 30px;
    }
    .sticky .header-name {
        padding-top: 5px;
    }
}

@media (max-width: 991.98px) {
    #page-menu ul {
        flex-wrap: wrap;
        padding: 0;
    }
    .main-menu .phone {
        padding-top: 0;
        padding-bottom: 8px;
    }
    .main-menu .social-logo {
        padding-top: 0;
    }
    .header-area {
        padding-bottom: 15px;
    }
}
/* ================================ small mobile :320px.=============================== */

@media (min-width: 576px) and (max-width: 767.98px) {
    body {
        overflow-x: hidden;
    }
    .banner-content .banner-content-5 {
        padding-top: 45%;
    }
    .section-title p {
        padding: 0px 0;
        padding-top: 10px;
    }
    .main-menu .social-logo {
        order: 0;
    }
    .main-menu ul li:first-child {
        order: 3;
    }
    .main-menu .phone {
        padding-left: 0;
    }
    #banner {
        height: 650px;
    }

    #banner-5 {
        height: 780px;
    }

    .banner-content {
        padding-top: 43%;
    }

    .banner-content h1 {
        font-size: 46px;
    }
    .about-play .play-overlay i {
        height: 60px;
        width: 60px;
        line-height: 60px;
        font-size: 28px;
    }

    .digital-item ul li a {
        padding: 7px 27px;
    }

    .mobil-item {
        margin-top: 30px;
    }

    .btn-link {
        font-size: 16px;
    }

   .digital-img {
        margin-top: 100px;
    }
	

}
@media (max-width: 767.98px) {
    .header-area .col-md-7 {
        text-align: center;
    }
    .header-name {
        padding-top: 0;
    }
    #page-menu ul {
        flex-direction: row-reverse;
        margin-top: 10px;
        justify-content: center;
    }
    .sticky .main-menu ul li {
        margin-left: 0;
    }
}
/* =========================Large Mobile :480px. ===========================================*/

@media only screen and (max-width: 575.98px) {
    #banner-5 {
        height: 550px;
    }

   .banner-content h1 {
        font-size: 26px;
        line-height: 38px;
    }

    .banner-content a.butn-2 {
        margin-top: 13px;
        margin-left: -123px;
        display: block;
    }

    .banner-content h1 {
        font-size: 28px;
    }

	.banner-content {
		padding-top: 35%;
	} 

    .banner-content.banner-content-5 h1 {
        line-height: 42px;
    }

    .banner-content.banner-content-5 p {
        padding-right: 0;
    }

     #sub-item {
        padding-top: 0;
    }

    .digital-img {
        margin-top: 100px;
    }

    .section-title p {
        padding: 0px 0px;
        padding-top: 10px;
    }

    .section-title p {
        font-size: 14px;
    }

    .about-play .play-overlay i {
        height: 60px;
        width: 60px;
        line-height: 60px;
        font-size: 28px;
    }

    .about-content.about-content-3 h3 {
        padding-right: 0px;
    }

	.banner-content ul > li > a {
		padding: 0;
	}
	
    .card-body {
        padding: 23px 10px;
    }

    .btn-link {
        font-size: 15px;
        padding-left: 15px;
    }

    .btn-link::before {
        right: 12px;
    }

    .btn-link.collapsed::before {
        right: 12px;
    }

    .section-title h3 {
        font-size: 30px;
        line-height: 38px;
    }

    .card.card-5 .card-header a.btn-link {
        padding-left: 15px;
    }

    .card.card-5 .card-body {
        padding: 7px 15px 30px;
    }

    .btn-center {
        margin-left: 0px;
    }

    .info {
        margin-top: 60px;
    }
    .digital-item ul li a {
        padding: 7px 28px;
    }
		
}
@media  (max-width: 575.98px) {
    .header-area {
        padding-top: 15px;
    }
    .header-name {
        display: none;
    }
    #page-menu ul {
        flex-direction: row;
        justify-content: center;
        margin-top: 0;
    }
    #page-menu ul li {
        padding: 0 15px 0 0;
    }
    .sticky #page-menu ul li {
        padding: 0;
        margin-top: 0;
    }
    #page-menu .social-logo {
        order: 3;
        padding-right: 0;
    }
    .main-menu ul li:first-child {
        order: 0;
    }
    #page-menu li:last-child {
        margin-top: 0;
    }
}
@media (max-width: 485px) {
    .banner-content {
        padding-top: 50%;
    }
    .header-logo {
        display: inline-block;
    }
    .header-area .col-md-7 {
       width: 40%;
    }
    .header-area .col-md-5 {
        width: 60%;
    }
    .sticky.header-area .col-md-5 {
        width: 100%;
    }
    .banner-content.banner-content-5 h1 {
        line-height: 32px;
    }
    .main-menu .phone {
        font-size: 20px;
    }
    #page-menu ul {
        justify-content: flex-end;
    }
    #page-menu li:last-child {
        flex: 0 0 100%;
        text-align: center;
        font-size: 14px;
    }
    #header-area-main .butn {
        /* width: 100%;
        padding-top: 10px;
        padding-bottom: 10px; */
        display: none;
    }
    .sticky#header-area-main .butn {
        display: block;
    }
    .main-menu ul li:first-child {
        order: -1;
    }
    #page-menu .social-logo {
        order: 0;
        padding-right: 0;
    }
}
@media (max-width: 375px) {
    .header-logo {
        display: none;
    }
    .header-area .col-md-5 {
        width: 100%;
    }
}